<div
  style="inset: {{yPosition}}% {{xPosition}}%;"
  class="focal-point-wrapper"
>
  <div class="focal-point  flex-center">
    {% render 'icon-plus' %}
    {% render 'icon-minus' %}
  </div>
  <div class="text-body tool-tip">{{ text }}</div>
</div>
